/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,400&family=Montserrat:ital,wght@0,300;0,800;1,400&display=swap'); */

/* ************************************************
                Default page Settings
*************************************************** */

:root {
  --body-color: #ecf0f3;
  --primary-color: #000;
  --primary-color-hover: #333;
  --primary-button-text: #fff;
  --primary-lesser-dark: #353233;
  --header-background: rgba(255, 255, 255, 0.85);
  --nav-background: rgba(255, 255, 255, 1);
  --header-links: #8b8b9a;
  --heading-primary: #000;
  --heading-secondary: #1a49b9;
  --heading-tertiary: #000;
  --paragraph-text: #000;
  --paragraph-text-muted: rgba(0, 0, 0, 0.5);
  --title-description: rgba(0, 0, 0, 0.5);
  --quoted-text: #392ae6;
  --accent: #ebb606;
  --service-card-background: rgb(236 240 243 / 30%);
  --service-card-logo-background: #e8e8e8;
  --request-form-border: #fff;
  --request-form-background: rgb(236 240 243 / 30%);
  --input-background: #fff;
  --footer-text: #000;
  --footer-background: #fff;
  --slider-item-background: #e3eaf7;
  --toggle-border: #e4e7ec;
  --toggle-background: #fff;
  --font-jost: "Jost", sans-serif;
  --primary-link: rgba(0, 0, 0, 0.5);
  --primary-link-hover: rgba(0, 0, 0, 1);
  --default-transition: 0.3s all;
  --header-links-new: #000;
  --primary-link-new: #000;
  --footer-border: #8b8b9a;
}
*{
  scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:"Montserrat", sans-serif; */
}
html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h4,
h5,
a,
p,
li,
input,
textarea,
::placeholder {
  transition: var(--default-transition);
}

h1,
h2,
h3,
h4,
h4,
h5 {
  color: var(--heading-primary);
  font-weight: 600;
}

.heading-secondary {
  color: var(--heading-secondary);
}

.heading-tertiary {
  color: var(--heading-tertiary);
}

.title-desc {
  color: var(--title-description);
}

h1 {
  font-size: 10rem;
}

h2.large {
  font-size: 10rem;
}

h2 {
  font-size: 9rem;
}

h3 {
  font-size: 7rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3.2rem;
}

p {
  line-height: 1.6;
}

p,
li {
  font-size: 2.4rem;
}

p.small,
li.small {
  font-size: 18px;
}

a,
a:hover {
  text-decoration: none;
}

body {
  font-family: var(--font-jost);
  background-color: var(--body-color);
  font-weight: 500;
  transition: var(--default-transition);
  scroll-behavior: smooth;
}

p,
li {
  color: var(--paragraph-text);
}

.accent {
  color: var(--accent);
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  width: 385px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--default-transition);
  font-size: 18px;
  font-weight: 600;
  padding: 18px 24px;
  border-radius: 94px;
}

.btn:focus {
  box-shadow: 0 8px 38px 0 rgba(0, 0, 0, 0.25);
}

button:focus {
  outline: none;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--primary-button-text);
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.25);
}

.primary-btn:hover {
  background-color: var(--primary-color-hover);
  color: var(--primary-button-text);
  box-shadow: 0 8px 38px 0 rgba(0, 0, 0, 0.25);
}

.py-large {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.img-contain {
  object-fit: contain;
}

ul {
  list-style-type: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}
.li-tc {
  color: #000;
  list-style:none;
  position: relative;
  padding-left:50px;
  line-height: 2;
  font-size:28px;
}

.li-tc:before {
  font-family:FontAwesome;
  position: relative;
  left: 0;
  color: #392ae6;
  font-size:25px;
}

.li-tc.one:before {
   content:"\f111"; 
}
.li-tc.two:before {
   content:"\f00c";
}
.li-tc.three:before {
   content:"\f10c";
}
.li-tc.four:before {
   content:"\f004";
}
.li-tc.five:before {
   content:"\f1e2";
}
.li-tc.six:before {
   content:"\f0e7";
}

li:hover:before {
  color:#fff;
}
.ul-tc{ 
    list-style-type: disc;
    padding: 10px;
    margin: 10px;
}
.term-container>li{
  padding: 20px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.form-group {
  margin-bottom: 3.2rem;
}

.form-input {
  font-size: 18px;
  padding: 3rem 3.2rem;
  background-color: var(--input-background);
  color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 16px;
  width: 100%;
}

textarea {
  resize: none;
}

::placeholder {
  color: var(--primary-color);
}

.light-theme-comp {
  display: none;
}

html:not(.dark-theme) .light-theme-comp {
  display: block;
}

html:not(.dark-theme) .dark-theme-comp {
  display: none;
}

.color-gray {
  color: var(--primary-link);
}

.link.color-gray:hover {
  color: var(--primary-link-hover);
}

.link i {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

/* ======== Header ========== */
.main-header {
  height: 9.6rem;
  padding: 0  5.4rem;
  transition: var(--default-transition);
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-header.scrolled {
  height: 80px;
  background-color: var(--header-background);
  backdrop-filter: blur(8px);
}

.navbar-brand {
  display: flex;
  align-items: center;
  top:200px;
  height: 4em;
  
}

.navbar-brand .brand-icon {
  margin: left;
  color: var(--primary-color);
}
/* .navbar-brand .brand-icon>img {

  /
  /
  padding-left: 4e;
  position: relative;
  margin-left:4em; 
  width: 230px;
  height: 127px;
  
  /* margin: 16px;  
  border-radius: 15%;
   
}*/
.navbar-brand .brand-name {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  position: relative;
  margin-left: 4em;
}

.main-header .navbar {
  width: 100%;
  position: relative;
}

.main-header .navbar-nav {
  margin-left: auto;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-item .nav-link {
  color: var(--header-links-new);
  font-size: large;
}

.nav-item .nav-link:hover {
  color:  #392ae6;
  transform: scale(0.97);
}

.navbar-nav .nav-item:not(:first-child) {
  margin-left: 4rem;
}

.navbar-toggler {
  color: var(--primary-color);
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.hamburger-open,
.hamburger-close {
  transition: 0.3s all;
}

.hamburger-open {
  display: none;
}

.show-menu .hamburger-close {
  display: none;
}

.show-menu .hamburger-open {
  display: block;
}





/* *****************************************************
  hero Section

**********************************************************/

.main-hero {
  height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.hero-text {
  padding: 12rem 0;
  max-width: 550px;
}

.hero-title {
  position: relative;
  width: fit-content;
}

.hero-title .title-circle {
  position: absolute;
  width: 19.5rem;
  height: 19.5rem;
  right: -50px;
  top: -40px;
  z-index: -1;
}

.title-circle i {
  width: 100%;
  height: 100%;
}

.title-circle svg {
  width: 100%;
  height: inherit;
}

.hero-text .section-title,
.hero-text p {
  margin-bottom: 5rem;
}

.hero-text h1 {
  line-height: 1.2;
  margin-bottom: 5rem;
}

.hero-text .accent {
  position: relative;
}

.hero-text .accent::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(./../images/backgrounds/round-marker.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-img img {
  position: absolute;
  top: 40px;
  right: -10%;
}

.blocks-background {
  position: relative;
}

.blocks-background::before,
.blocks-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blocks-background::before {
  background-image: url(./../images/backgrounds/block-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.blocks-background::after {
  background: rgb(236, 240, 243);
  background: linear-gradient(0deg,
      rgb(236, 240, 243) 0%,
      rgba(255, 255, 255, 0.61) 40%,
      rgba(236, 240, 243, 1) 100%);
  z-index: 2;
}

.dark-theme .blocks-background::after {
  background-image: linear-gradient(0deg,
      rgba(2, 1, 1, 1) 0%,
      rgba(13, 14, 11, 0.71) 40%,
      rgba(2, 1, 1, 1) 100%);
}

.about-us {
  position: relative;
  z-index: 3;
}

.about-us-text {
  margin-bottom: 18rem;
}

.about-us-text h2 {
  margin-bottom: 7rem;
}

.about-us-text p:not(:last-child) {
  margin-bottom: 5rem;
}

.wave-background {
  position: relative;
}

.wave-background::before,
.wave-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wave-background::before {
  background-image: url(./../images/backgrounds/wave-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.wave-background::after {
  background: rgb(236, 240, 243);
  background: linear-gradient(0deg,
      rgba(236, 240, 243, 1) 0%,
      rgba(245, 225, 227, 0.85) 50%,
      rgba(236, 240, 243, 1) 100%);
  z-index: 2;
}

.dark-theme .wave-background::after {
  background: rgb(236, 240, 243);
  background: linear-gradient(0deg,
      rgba(2, 1, 1, 1) 0%,
      rgba(13, 14, 11, 0.6) 40%,
      rgba(2, 1, 1, 1) 100%);
  z-index: 2;
}

.services {
  position: relative;
  z-index: 3;
}

.services .section-title {
  margin-bottom: 10rem;
}

.services .services-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 24px;
}

.service-card-wrap,
.service-card {
  border-radius: 16px;
}

.service-card-wrap .service-card {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  background-color: var(--service-card-background);
  border: 2px solid rgba(255, 255, 255, 0.72);
  transition: var(--default-transition);
  padding: 4rem;
}

.service-card .service-card-img {
  width: 100px;
  min-height: 100px;
  margin-bottom: 5rem;
  color: var(--service-card-logo-background);
  transition: var(--default-transition);
}

.service-card .service-card-title {
  margin-bottom: 16px;
}

.service-card .service-card-desc {
  color: var(--paragraph-text-muted);
}

.service-card .link {
  display: flex;
  margin-bottom: 5px;
  word-break: break-all;
}

.signals {
  position: relative;
  z-index: 3;
  margin-bottom: 10%;
}

.signals .section-title {
  margin-bottom: 7rem;
}

.signals-inner {
  position: relative;
}

    .signals-inner .signal-img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        max-width: 50%;
        padding-right: 15px;
        margin-top: 100px;
    }

.signal-text p:not(:last-child) {
  margin-bottom: 5rem;
}

.signal-text .additional-note {
  color: var(--quoted-text);
  padding-left: 16px;
  border-left: 5px solid var(--quoted-text);
}

.signal-text .signal-example {
  margin-bottom: 5rem;
}

.signal-example h4 {
  margin-bottom: 32px;
}

.signal-example li {
  margin-bottom: 16px;
}

.signals-ex {
  position: relative;
  z-index: 3;
}

.signals-ex-img img {
  border-radius: 25px;
  transform: scale(0.7);
}

.signals-ex .signals-ex-img {
  max-width: 80%;
  margin: 0 auto;
}

.membership .section-title {
  max-width: 72%;
  margin-left: auto;
  margin-right: auto;
}

.membership .section-title,
.membership .section-title .heading-secondary {
  margin-bottom: 7rem;
}

.membership .plan {
  padding: 5rem 5rem 4rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.membership .plan::before,
.membership .plan::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.membership .plan::before {
  background-image: url(./../images/backgrounds/plan-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.plan .plan-inner {
  position: relative;
  z-index: 1;
}

.plan.plan-premium {
  margin-bottom: 30px;
}

.plan .plan-title {
  font-weight: 500;
  margin-bottom: 24px;
}

.plan .plan-price {
  font-weight: 700;
  margin-bottom: 5rem;
}

.with-tickmarks li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 32px;
  line-height: 3.2rem;
}

.with-tickmarks li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(./../images/icons/tick-mark.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.plan-benefits .plan-sub-benefits {
  margin-top: 16px;
}

.plan-sub-benefits li {
  color: var(--title-description);
  line-height: 2.4rem;
}

.plan-sub-benefits li:not(:last-child) {
  margin-bottom: 8px;
}

.plan .buy-membership {
  margin-top: 5rem;
}

.ama-wrap {
  padding: 15rem 0;
}

.ama-wrap::after,
.ama-wrap::before {
  height: 65%;
}

.ama-wrap::before {
  background-image: url(./../images/backgrounds/block-background-left.png);
}

.ama,
.request-form-wrap {
  position: relative;
  z-index: 3;
}

.ama {
  padding-bottom: 20rem;
}

.ama .section-title,
.ama .ama-desc {
  max-width: 80%;
  margin: 0 auto 7rem;
}

.ama-desc p {
  margin-bottom: 5rem;
}

.brands-slider {
  margin-bottom: 7rem;
}

.brands-slider .slider-item {
  height: 300px;
  border-radius: 16px;
}

.brands-slider .slider-item-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(30px);
  background-color: var(--slider-item-background);
  border-radius: 16px;
  overflow: hidden;
  transition: var(--default-transition);
}

.ama-background {
  position: relative;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.request-form-border {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--request-form-border);
  transition: var(--default-transition);
}

.request-form-border,
.request-form {
  border-radius: 16px;
}

.request-form {
  backdrop-filter: blur(30px);
  background-color: var(--request-form-background);
  padding: 5rem 5rem 3rem;
}

.request-form .section-title .heading-tertiary {
  margin-bottom: 16px;
  font-weight: 700;
}

.request-form .section-title {
  margin-bottom: 6rem;
}

.request-form textarea.form-input {
  height: 20rem;
}

.request-form .form-submit {
  margin-top: 5rem;
}


.main-footer {
  background-color: var(--footer-background);
  transition: var(--default-transition);
}

.footer-top {
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.main-footer a {
  color: var(--header-links-new);
}

.main-footer a:hover {
  /* color: var(--primary-color); */
  color:  #392ae6;
  /* transform: scale(0.97); */
}

.footer-social {
  display: flex;
  align-items: center;
  margin-top: 9rem;
}

.footer-social li:not(:last-child) {
  margin-right: 5rem;
}

.footer-nav li {
  margin-bottom: 16px;
}

.footer-bottom {
  border-top: 1px solid var(--footer-border);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-bottom p {
  color: var(--footer-text);
  font-size: 1.5rem;
}
.chiliz_light, .dark-theme .chiliz_dark {
    display: none;
}
.dark-theme .chiliz_light{
    display: block;
}